<div class="card mt-4">
    <div class="card-header">
      <h2><%= menu.name %></h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Días: <%= menu.days %></h5>
      <p class="card-text">Meta: <%= menu.goal %></p>
      <p class="card-text">Recetas:
        <% menu.recipes.forEach(recipe => { %>
          <%= recipe.title %>,
        <% }) %>
      </p>
      <a href="/menus/<%= menu._id %>/comparePrices" class="btn btn-primary mt-3">Comparar precios</a>
    </div>
    <div class="card-body">
      <% if (user && user.savedMenus.includes(menu._id)) { %>
        <a href="/menus/unsave/<%= menu._id %>" class="card-link">Quitar de mis menús</a>
      <% } else { %>
        <a href="/menus/<%= menu._id %>/save" class="card-link">Guardar menú</a>
      <% } %>
      <a href="/menus/<%= menu._id %>" class="card-link">Ver más</a>
    </div>
  </div>
  