<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/comparePrices.css">
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <%- include('partials/head.ejs') %>

  <div class="container">
    <h1>Comparar Precios</h1>

    <% if (items && items.length > 0) { %>
      <% items.forEach(function(item) { %>
        <h2><%= item.title %> <% if(item.count > 1) { %> (x<%= item.count %>) <% } %></h2>
        <% item.ingredients.forEach(function(ingredient) { %>
          <h3><%= ingredient.name %></h3>
          <% ingredient.supermarkets.forEach(function(supermarket) { %>
            <p><%= supermarket.name %>: $<%= (supermarket.price).toFixed(2) %></p>
          <% }); %>
        <% }) %>
        <hr>
      <% }) %>

      <h1>Lista de Compra</h1>
      <% for (let supermarket in shoppingList) { %>
        <h3><%= supermarket %>:</h3>
        <% shoppingList[supermarket].ingredients.forEach(function(item) { %>
          <p>
            <%= item.ingredient %>: <%= item.packages %> paquete(s) - $<%= item.cost.toFixed(2) %> 
            (Necesario: <%= item.requiredQuantity %>, Cantidad por paquete: <%= item.packageQuantity %>)
          </p>
        <% }); %>
        <h3>Total en <%= supermarket %>: $<%= shoppingList[supermarket].totalCost.toFixed(2) %></h3>
        <hr>
      <% } %>

    <% } else { %>
      <p>No se han encontrado recetas o menús para comparar precios.</p>
    <% } %>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
</html>
