<!DOCTYPE html>
<html>
<head>
  <title>Comparar Precios</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../partials/Navbar.ejs') %>
  <%- include('../partials/Head.ejs') %>

  <div class="container">
    <h1>Comparar Precios</h1>
    <% if (items && items.length > 0) { %>
      <% items.forEach(function(item) { %>
        <h2><%= item.name %></h2>
        <% item.ingredients.forEach(function(ingredient) { %>
          <%- include('../partials/IngredientPriceRow.ejs', {ingredient: ingredient}) %>
        <% }) %>
        <hr>
      <% }) %>
    <% } else { %>
      <p>No se han encontrado recetas o menús para comparar precios.</p>
    <% } %>
  </div>

  <%- include('../partials/Footer.ejs') %>
</body>
</html>

