<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <h1>Crear nuevo menú</h1>

        <%- include('partials/alerts.ejs') %>

        <%- include('partials/MenuForm.ejs') %>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>
