<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <h1>Bienvenidos a Nuestra Aplicación de Recetas</h1>

    <div class="recipe-list">
      <% if (typeof recipes !== 'undefined' && recipes.length > 0) { %>
        <% recipes.forEach(recipe => { %>
          <%- include('partials/recipeCard.ejs', { recipe: recipe }) %>
        <% }) %>
      <% } else { %>
        <p>No hay recetas disponibles.</p>
      <% } %>
    </div>
    
    <div class="menu-list">
      <% if (typeof menus !== 'undefined' && menus.length > 0) { %>
        <% menus.forEach(menu => { %>
          <%- include('partials/menuCard.ejs', { menu: menu }) %>
        <% }) %>
      <% } else { %>
        <p>No hay menús disponibles.</p>
      <% } %>
    </div>
    

  <%- include('./partials/Footer.ejs') %>
</body>

</html>
