<!DOCTYPE html>
<html lang="es">
<%- include('partials/Head.ejs') %>

<body>
    <%- include('partials/Navbar.ejs') %>

    <div class="container">
        <h1>Iniciar sesión</h1>

        <%- include('partials/alerts.ejs') %>

        <%- include('partials/LoginForm.ejs') %>
    </div>

    <%- include('partials/Footer.ejs') %>
</body>

</html>
