<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <%- include('partials/alerts.ejs', { messages: { 
      success: success, 
      error: error, 
      info: info, 
      warning: warning 
    } }) %>
    
    <% if (menus.length > 0) { %>
      <% menus.forEach(menu => { %>
        <%- include('partials/menuCard.ejs', { menu: menu }) %>
      <% }) %>
    <% } else { %>
      <div class="alert alert-info" role="alert">
        No hay menús disponibles en la base de datos.
      </div>
    <% } %>


    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>
