<!DOCTYPE html>
<html>
<head>
  <%- include('partials/Head.ejs') %>
</head>
<body>
  <%- include('partials/Navbar.ejs') %>

  <div class="container">
    <% if (menus.length > 0) { %>
      <% menus.forEach(menu => { %>
        <div class="card mt-4">
          <div class="card-header">
            <h2><%= menu.name %></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Días: <%= menu.days %></h5>
            <p class="card-text">Meta: <%= menu.goal %></p>
            <p class="card-text">Recetas: <%= menu.recipes.map(recipe => recipe.title).join(', ') %></p>

            <a href="/menus/<%= menu._id %>/edit" class="btn btn-primary mt-3">Editar menú</a>
            <a href="/recipes/<%= menu._id %>/comparePrices" class="btn btn-primary mt-3">Comparar precios</a>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="alert alert-info" role="alert">
        No hay menús disponibles en la base de datos.
      </div>
    <% } %>

    <div class="d-flex justify-content-end">
      <a href="/menus/Crear" class="btn btn-success mt-3">Crear Menú</a>
    </div>

    <%- include('partials/Footer.ejs') %>
  </div>
</body>
</html>
