<!DOCTYPE html>
<html lang="es">
<%- include('../partials/Head.ejs') %>

<body>
    <%- include('../partials/Navbar.ejs') %>

    <div class="container">
        <h1>Mis Recetas</h1>

        <%- include('../partials/alerts.ejs') %>

        <div class="row">
            <div class="col">
                <h2>Recetas Creadas</h2>
                <div class="card-deck">
                    <% userRecipes.forEach(recipe => { %>
                        <%- include('../partials/RecipeCard.ejs', {recipe: recipe}) %>
                    <% }) %>
                </div>
            </div>

            <div class="col">
                <h2>Recetas Guardadas</h2>
                <div class="card-deck">
                    <% savedRecipes.forEach(recipe => { %>
                        <%- include('../partials/RecipeCard.ejs', {recipe: recipe}) %>
                    <% }) %>
                </div>
            </div>
        </div>

        <%- include('../partials/Pagination.ejs', {page: currentPage, totalPages: totalPages}) %>
    </div>

    <%- include('../partials/Footer.ejs') %>
</body>

</html>
