<!DOCTYPE html>
<html>
<head>
  <%- include('partials/Head.ejs') %>
</head>
<body>
  <%- include('partials/Navbar.ejs') %>

  <div class="container">
    <%- include('partials/alerts.ejs', { messages: { 
      success: success, 
      error: error, 
      info: info, 
      warning: warning 
    } }) %>
    
    <% if (recipes.length > 0) { %>
      <% recipes.forEach(recipe => { %>
        <%- include('partials/recipeCard.ejs', { recipe: recipe }) %>
      <% }) %>
    <% } else { %>
      <div class="alert alert-info" role="alert">
        No hay recetas disponibles en la base de datos.
      </div>
    <% } %>


    <%- include('partials/Footer.ejs') %>
  </div>
</body>
</html>
