<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/search.css">

<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <%- include('partials/SearchForm.ejs') %>

    <h1>Resultados de la búsqueda</h1>

    <h2>Recetas</h2>
    <div class="recipe-list">
      <% results.recipes.forEach(recipe => { %>
        <%- include('partials/recipeCard.ejs', { recipe: recipe }) %>
      <% }) %>
    </div>

    <h2>Menús</h2>
    <div class="menu-list">
      <% results.menus.forEach(menu => { %>
        <%- include('partials/menuCard.ejs', { menu: menu }) %>
      <% }) %>
    </div>

    <%- include('partials/pagination.ejs') %>
  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>

