<!DOCTYPE html>
<html lang="es">
<%- include('partials/Head.ejs') %>

<body>
  <%- include('partials/Navbar.ejs') %>

  <div class="container">

    <%- include('partials/SearchForm.ejs') %>

    <h1>Resultados de la búsqueda</h1>

    <h2>Recetas</h2>
    <div class="recipe-list">
      <% results.recipes.forEach(recipe => { %>
        <%- include('partials/RecipeCard.ejs', { recipe: recipe }) %>
      <% }) %>
    </div>

    <h2>Menús</h2>
    <div class="menu-list">
      <% results.menus.forEach(menu => { %>
        <%- include('partials/MenuCard.ejs', { menu: menu }) %>
      <% }) %>
    </div>

    <%- include('partials/Pagination.ejs') %>
  </div>

  <%- include('partials/Footer.ejs') %>
</body>

</html>
